{% extends 'base.html' %}

{% block title %}Accounts{% endblock title %}

{% block content %}
<main>
    <h1>Accounts</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </thead>
        <tbody>
        {% for item in accounts %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.number}}</td>
                <td>{{item.name.all|length}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}